force-app/main/default/flows/Update_Lead_Address_API_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Address_By_Postal_Code</name>
        <label>Get Address By Postal Code</label>
        <locationX>516</locationX>
        <locationY>276</locationY>
        <actionName>GetAddressByPostalCode.Get address by postal code</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_postal_code_have_address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_callout_error_status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>zip</name>
            <value>
                <elementReference>PostalCodeParameter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAddressByPostalCode.Get address by postal code</nameSegment>
        <outputParameters>
            <assignToReference>ListOfPlaces</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_callout_error_status</name>
        <label>Assign callout error status</label>
        <locationX>844</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Callout Error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_places_data</name>
        <label>Assign places data</label>
        <locationX>672</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_places_info.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_places_info.placex20name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListOfPlaces.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_places_info.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_places_info.longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_status</name>
        <label>Assign success status</label>
        <locationX>540</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Lead_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_no_record_status</name>
        <label>Assing no record status</label>
        <locationX>580</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>672</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Loop_Counter_Equal_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Loop_Counter_Equal_1</name>
        <label>Is Loop Counter Equal 1?</label>
        <locationX>672</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Get_places_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_postal_code_have_address</name>
        <label>Is postal code have address?</label>
        <locationX>516</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assing_no_record_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesZip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfPlaces.country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_places_info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedLatitude</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Latitude})</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>ConvertedLongitude</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Longitude})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StatusMessageText</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Status}), &quot;Success&quot;, &quot;The address was successfully updated! Field was updated: &quot;+  TEXT(NOW()) , 
&quot;No record&quot;, &quot;The address was not updated due to an invalid zip code. Field was updated: &quot; + TEXT(NOW()),
 &quot;Callout Error&quot;, &quot;An error occurred while executing the callout. Field was updated: &quot; + TEXT(NOW()), 
&quot;No Info&quot;)</expression>
    </formulas>
    <interviewLabel>Update Lead Address API Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Address API Callout</label>
    <loops>
        <name>Get_places_info</name>
        <label>Get places info</label>
        <locationX>452</locationX>
        <locationY>492</locationY>
        <collectionReference>ListOfPlaces.places</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_places_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Address</name>
        <label>Update Lead Address</label>
        <locationX>516</locationX>
        <locationY>1350</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>ConvertedLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>ConvertedLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Message__c</field>
            <value>
                <elementReference>StatusMessageText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Address_By_Postal_Code</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfPlaces</name>
        <apexClass>ExternalService__GetAddressByPostalCode_Getx20addressx20byx20postalx20code_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PostalCodeParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.PostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
